{%extends "Load/base.html" %}
{%block content %}
<div class="row mt-3">
    <div class="col-lg-12 div-center">
       <div class="card">
         <div class="card-body">
         <div class="card-title">Modification d'expérience</div>
         <hr>
          <form method="post">
            {%csrf_token%}
         <div class="form-group">
          <label for="input-1">Titre</label>
          <input type="text" class="form-control" name="titre" placeholder="Stage professionnel" required value="{{exp.titre}}">
         </div>
         <div class="form-group">
            <label>Entreprise</label>
            <input type="text" class="form-control text-uppercase" name="entreprise" placeholder="Nom de l'entreprise" required value="{{exp.entreprise}}">
           </div>
           <div class="form-group">
            <label>icone</label>
            <input type="text" class="form-control" name="icone" placeholder="bi bi-briefcase" required value="{{exp.icone}}">
           </div>
           <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" rows="5" required placeholder="Brève description">{{exp.description}}</textarea>
           </div>
           <div class="form-group">
            <label>Date de début</label>
            <input type="date" class="form-control" name="date_debut" required value="{{exp.date_debut_rep}}">
           </div>
           <div class="form-group">
            <label>Date de fin</label>
            <input type="date" class="form-control" name="date_fin" value="{{exp.date_fin_rep}}">
           </div>
         <div class="form-group">
          <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Enregistrer</button>
        </div>
        </form>
       </div>
       </div>
    </div>
</div>
{%endblock%}