{% extends 'Load/base.html' %}
{% load static %}
{% block title %} 404 {% endblock %}

{% block content %}
<div class="error-404 d-flex align-items-center justify-content-center">
    <div class="container justify-content-center">
        <div class="py-5 align-items-center justify-content-center">
            <div class="row g-0 align-items-center justify-content-center">
                <div class="col col-xl-5">
                    <div class="card-body p-4">
                        <h2 class="font-weight-bold display-4 text-center">Not found</h2>
                        <p class="text-center">La ressource que vous avez demandée n'est pas disponible.
                        <div class="mt-5 text-center"> 
                            <a href="/" class="btn btn-primary btn-lg px-md-5 radius-30">Acceuil</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <img width="500" src="{% static 'assets-admin/images/404.svg' %}" class="img-fluid" alt="">						</div>
             </div>
            <!--end row-->
        </div>
    </div>
</div>
{% endblock %}